<!DOCTYPE html>
<html lang="en-us" ng-app="labApp">
  <head>
    <meta charset="UTF-8">
    <title>Cpp by shubhajeet</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" type="text/css" href="stylesheets/normalize.css" media="screen">
    <link href='https://fonts.googleapis.com/css?family=Open+Sans:400,700' rel='stylesheet' type='text/css'>
    <link rel="stylesheet" type="text/css" href="stylesheets/stylesheet.css" media="screen">
    <link rel="stylesheet" type="text/css" href="stylesheets/github-light.css" media="screen">
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.5.8/angular.min.js"></script>
    <script src="app.js"></script>
  </head>
  <body>
    <section class="page-header">
      <h1 class="project-name">Cpp</h1>
      <h2 class="project-tagline">ioe pulchowk practical of c++</h2>
      <a href="https://github.com/shubhajeet/cpp" class="btn">View on GitHub</a>
      <a href="https://github.com/shubhajeet/cpp/zipball/master" class="btn">Download .zip</a>
      <a href="https://github.com/shubhajeet/cpp/tarball/master" class="btn">Download .tar.gz</a>
    </section>
    <div>
      <label>Name:</label>
      <input type="text" ng-model="yourName" placeholder="Enter a name here">
      <hr>
      <h1>Hello {{yourName}}!</h1>
    </div>
    <section class="main-content" ng-controller="labListController">
      <ul>
        <li ng-repeat="lab in labs">
          <span>{{lab.no}}</span>
          <span>{{lab.description}}</span>
        </li>
      </ul>
    </section>
  </body>
</html>
